html {
  /*background-color: #7CC9E8;*/
  background: linear-gradient(to right, #7CC9E8, rgb(193, 220, 232),#5CAECD);
}

h1, h2, h3, h4, li, p {
  font-family: Avenir, courier;
}

h1 {
  font-size: 22px;

}

h2  {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  line-height: 5px;
}

h4 {
  font-size: 12px;
  font-style: italic;
}

p {
  font-size: 14px;
}

a {
  color: rgba(219, 219, 223, 0.81);
  text-decoration: none;
}

#sidebar {
  background: linear-gradient(#1177A0, #147399, #1E5D76);
  position: absolute;
  width: 15%;
  height: 500px;
  margin-right: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 35px;
  opacity: .8;
  margin-left: 15px;
  box-shadow: 2px 2px 2px rgba(124, 16, 16, 0.52);
}


#sidebar h2 {
  color: rgba(15, 10, 11, 0.4);
}


#sidebar li {
    margin-left: -40px;
}

.index_main {
  padding-top: 100px;
  padding-left:200px;


}


ul {
  list-style-type:  none;

}

li {

  line-height: 25px;

}

main {
  margin-top: 10px;
  width: 60%;
  margin-left: 100px;
  position: absolute;
}

#dragonfly {
  margin-top: -40px;
  margin-bottom: -20px;
  margin-left: 12px;
  width: 100px;
  height: auto;

}

/* want to actually fix these images and not just resize them */
img.icon {
  width: 24px;
  height: auto;
  margin-top: 10px;
}